@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/Assistant-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../assets/fonts/Assistant-SemiBold.woff2') format('woff2');
}
