@import './fonts.css';

:root {
    color-scheme: dark;
}

body {
    margin: 0;
    font-size: 14px;
    font-family: var(--font-ui);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh !important;
    min-width: fit-content !important;
    overflow: visible !important;
}

code {
    font-family: monospace;
}

html,
#root,
#app,
#app > div {
    margin: 0;
}

#root {
    height: 100vh !important;
}
