/* drawer style overrides for OptimizerTab > cards */
#hsro-drawer-character-conditional {
  background-color: rgb(36, 51, 86);
}

#hsro-drawer-character-conditional
.ant-drawer-header.ant-drawer-header-close-only,
#hsro-drawer-character-conditional
.ant-drawer-header
{
  padding: 0 0 5px 0;
  width: 200px;
}

#hsro-drawer-character-conditional
.ant-drawer-body {
  padding: 5px;
}

#hsro-drawer-character-conditional
.ant-drawer-close {
  padding: 0;
}