/* Reduce horizontal padding inside all Mantine inputs */
.mantine-Input-input {
    --input-padding: 4px;
}

/* Disable Mantine Button loading slide-in animation */
.mantine-Button-root .mantine-Button-section,
.mantine-Button-root .mantine-Button-label,
.mantine-Button-root .mantine-Button-loader {
    transition: none !important;
}

/* Body scrollbar with overlayscrollbars */
.os-scrollbar {
    --os-handle-bg: #95959552 !important;
    --os-size: 8px !important;
}
