body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html,
body,
#root,
#app,
#app > div {
    margin: 0;
    height: 100vh !important;
    min-width: fit-content !important;
    overflow: visible !important;
}

.test {
    background-color: #fff;
}

.ant-form-item {
    margin-bottom: 0px !important;
}

.ag-body-horizontal-scroll {
    min-height: 5px !important;
    max-height: 5px !important;
    height: 5px !important;
}

.ag-body-horizontal-scroll-viewport {
    min-height: 5px !important;
    max-height: 5px !important;
    height: 5px !important;
}

.ag-body-horizontal-scroll-container {
    min-height: 5px !important;
    max-height: 5px !important;
    height: 5px !important;
}

.ag-cell {
    display: flex;
    justify-content: center;
    /* align horizontal */
    align-items: center;
}

.ag-theme-balham .ag-header-cell,
.ag-theme-balham .ag-header-group-cell {
    padding-left: 2px;
    padding-right: 2px;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.ag-header-cell:after {
    top: 5% !important;
}

.ag-header-cell-label {
    padding-top: 4px !important;
}

.ag-icon {
    font-weight: 400 !important;
}

.ag-header-row .ag-header-row-column {
    height: 24px !important;
}

.ag-header {
    height: 24px !important;
    min-height: 24px !important;
}

#relicGrid .ag-header {
    height: 48px !important;
    min-height: 48px !important;
}

.ag-header-cell-label .ag-header-cell-text {
    white-space: pre-wrap !important;
}

.ag-sort-indicator-container {
    position: absolute;
    right: -4px;
}

.ag-icon {
    font-size: 14px !important;
}

.ag-header-row {
    height: 100% !important
}

.ag-theme-balham .ag-paging-panel {
    height: 24px !important;
}

.ag-header-label-icon {
    margin-left: -3px !important;
}

.ag-paging-button {
    opacity: 1 !important;
    position: unset !important;
}

.ag-header-cell-text {
    overflow: initial;
    text-overflow: initial;
    min-width: unset !important;
}

.ag-header-cell-label,
.ag-header-group-cell-label {
    justify-content: space-around;
    text-overflow: clip;
    width: 40px;
}

.ag-theme-balham .ag-icon {
    font-weight: 800;
}

.ag-cell-value {
    font-weight: 400;
    text-align: center;
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px !important;
}

.ag-theme-balham .ag-overlay-loading-wrapper {
    background-color: var(--ag-modal-overlay-background-color, hsla(0, 0%, 100%, 0.05));
}

.ag-floating-top {
    box-shadow: 0 3px 6px #141414 !important;
    z-index: 2 !important;
}

.ag-theme-balham .ag-row:not(.ag-row-first) {
    border: none;
}

.ag-cell-label-container {
    padding: 0 !important;
}

.ant-form-item-control-input {
    min-height: 22px !important;
}

.ant-cascader-menu-item {
    padding: 5px 8px;
}

.ant-cascader-menu-item-content {
    overflow: hidden !important;
    width: 250px;
    text-overflow: ellipsis;
}

.ant-cascader-menus ul:first-child {
    width: 170px;
}

.rc-virtual-list-scrollbar-show {
    display: block !important;
}

.ag-cell-value {
    font-size: 14px;
    font-weight: 400;
    display: flex !important;
    text-align: center;
}

.ag-header-cell-label {
    text-align: center;
}

.ag-header-cell-label {
    justify-content: center;
}

.ag-header-cell-text {
    overflow: hidden;
    text-overflow: clip !important;
    margin-top: -4px;
}

.ag-icon-desc, .ag-icon-asc {
    margin-top: -3px !important;
    margin-right: 2px !important;
    font-size: 12px !important;
}

.ag-icon-asc {
    margin-top: -6px !important;
}

.ag-header-cell {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.ant-layout {
    min-width: inherit;
}

.ant-menu-title-content {
    color: white;
}

.ag-paging-panel {
    height: 22px !important;
}

.ag-drag-handle {
    margin-right: 5px !important;
}

.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #4290ff !important;
}

.ant-popover-content p {
    margin: 0;
}

/*
a {
  color: #54aeff !important;
} */

#relicGrid .ag-header-cell {
    font-size: 10px !important;
    font-weight: 400;
}

#characterGrid .ag-body-vertical-scroll {
    display: none;
}

.ag-header-cell-menu-button {
    opacity: 1 !important;
    margin-bottom: 3px !important;
}

.relicsTableHeader {
    font-size: 9px !important;
    font-weight: 400 !important;
}

.ag-row {
    border-bottom-style: unset !important;
}

.ant-select-selection-item {
    padding-inline-end: 6px !important;
}

.ant-input-number-group-addon {
    padding: 0 5px !important;
}

.ant-menu-submenu-title {
    padding-left: 10px !important;
}

/* .ant-menu-item-only-child {
    padding-left: 34px !important;
} */

.ant-tag-checkable {
    margin-inline-end: 0px;
    border-radius: 0px;
}

.ant-progress-text {
    text-align: right !important;
    padding-right: 2px !important;
}

.form-row .ant-collapse-header {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    font-size: 20px;
    align-items: baseline !important;
}

.form-row .ant-collapse-content-box {
    padding-block: 0 !important;
}

.form-row .ant-collapse-expand-icon {
    padding-inline-start: 12px !important;
}

.teammate-set-select .ant-select-selector {
    padding-left: 7px !important;
}

.ant-segmented {
    padding: 0 !important;
}

.ag-cell-focus,
.ag-cell {
    border: none !important;
}

.ag-row-selected {
    box-shadow: 0px 1px 5px 0px #5e5e5e !important;
    z-index: 1 !important;
    background: #0000002e !important;
}

.ag-row-selected:before {
    background: none !important;
    z-index: 1;
    box-shadow: inset 0px 3px 11px -4px #000, inset 0px -7px 19px -8px #1a1a1a;
}

.character-build-portrait:hover .character-build-portrait-button {
    opacity: 1 !important;
    visibility: visible !important;
    transition: opacity 0.3s ease;
}

.ant-card-small > .ant-card-body {
    padding-left: 11px !important;
    padding-right: 11px !important;
}

.ag-header-cell-comp-wrapper {
    height: 100% !important;
}

.ag-floating-top {
    border-bottom: none !important;
}

.ant-empty-description {
    height: 175px !important;
}

.ant-collapse-arrow {
    font-size: 16px !important;
}

.ant-notification-notice-description {
    margin-inline-start: 0px !important;
}

.custom-grid {
    border-radius: 10px !important;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, outline 0.3s ease;
    cursor: pointer;
    outline: 1px solid rgba(255, 255, 255, 0.0) !important;
}

.custom-grid:hover {
    background-color: rgba(255, 255, 255, 0.2);
    outline: 1px solid rgba(255, 255, 255, 0.4) !important;
}

/* Target the second segment specifically */
.short-segmented {
    flex-grow: 0.5 !important;
}

.short-segmented > .ant-segmented-item-label {
    padding: 0px !important;
}

.center-input-text > div > input {
    text-align: center !important;
}

.centered-placeholder::placeholder {
    text-align: center;
}

.ant-modal-confirm-paragraph {
    max-width: unset !important;
}

#relicGrid .ag-paging-page-summary-panel {
    display: none !important;
}

#relicGrid .ag-paging-row-summary-panel {
    padding-right: 10px !important;
}

#optimizerGridContainer .ag-header-cell-sorted-desc, #optimizerGridContainer .ag-header-cell-sorted-asc {
    background-color: #1b6d85 !important;
    color: #fff !important;
}

.ag-root-wrapper {
    border-radius: 5px !important;
}

#optimizerGridContainer .ag-cell-value {
    font-size: 14px !important;
}

#optimizerGridContainer .ag-header-cell-text {
    font-size: 11px !important;
    font-weight: 400 !important;
}

#optimizerGridContainer .ag-header {
    height: 36px !important;
    min-height: 36px !important;
}

.ag-header-cell-filter-button {
    display: none;
}

.lightConeCard {
    transition: box-shadow 0.25s, border-color 0.25s !important;
}

.ant-card-hoverable:hover {
    border-color: rgba(255, 255, 255, 0.45) !important;
}

.lightConeCard:hover {
    border-color: rgba(255, 255, 255, 0.6) !important;
    cursor: pointer;
}

.custom-dropdown-button .ant-btn-compact-first-item {
    width: 100%;
}

.teamSelectionCard > .ant-card-body {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.selection-area {
    background: rgba(46, 115, 252, 0.11);
    border: 2px solid rgba(98, 155, 255, 0.81);
    border-radius: 0.1em;
}

.selectable {
    width: 50px;
    border: 1px dashed #000000;
    background: #0a1b4533;
}

.unselectable {
    width: 50px;
    border: 1px dashed #000000;
    background: #0a1b4533;
}

.selectable:not(.selected):not(.defaultShaded):hover {
    background: rgba(104, 166, 255, 0.09);
}

.selectable.selected:not(.defaultShaded):hover {
    background: #5793ea;
}

.container {
    user-select: none;
}

.selected {
    background: #68a6ff;
}

.partitionShaded {
    background: #5085ff;
}

.partitionShaded.selected:not(.defaultShaded):hover {
    background: #4476e8;
}

.selecto-selection {
    display: none !important; /* Red Color with half opacity */
}

.defaultShaded {
    background-image: repeating-linear-gradient(
            25deg,
            rgba(255, 255, 255, 0.33),
            rgba(255, 255, 255, 0.33) 4px,
            transparent 4px,
            transparent 8px
    );
    background-blend-mode: overlay;
}

.disabledSelect {
    /*background-image: repeating-linear-gradient(*/
    /*        25deg,*/
    /*        rgba(255, 255, 255, 0.33),*/
    /*        rgba(255, 255, 255, 0.33) 4px,*/
    /*        transparent 4px,*/
    /*        transparent 8px*/
    /*);*/
    /*background-blend-mode: overlay;*/
    width: 50px;
    border: 1px dashed #000000;
    background: #3b48678f;
}

.comboSegmented {
    background: rgba(0, 0, 0, 0);
    color: rgba(232, 232, 232, 0.15)
}

.comboSegmented label.ant-segmented-item-selected {
    color: #ffffff !important;
    background: #5d8dff4a !important;
}

.comboSegmented .ant-segmented-item-label {
    padding: 0 0px;
    min-height: 18px !important;
    line-height: 18px !important;
}

/* Body scrollbar with overlayscrollbars */
.os-scrollbar {
    --os-handle-bg: #95959552 !important;
    --os-size: 8px !important;
}

/* Hides pinned bar scrollbar */
.ag-floating-top {
    overflow-y: hidden !important;
}

/* Sets small scrollbar */
.ag-body-vertical-scroll,
.ag-body-vertical-scroll-viewport,
.ag-body-vertical-scroll-container {
    width: 4px !important;
    max-width: 4px !important;
    min-width: 4px !important;
    margin-right: 2px !important;
}

/* Customize scrollbar */
.ag-body-vertical-scroll-viewport::-webkit-scrollbar {
    width: 4px;
}

.ag-body-vertical-scroll-viewport::-webkit-scrollbar-thumb {
    background-color: #95959552;
    border-radius: 4px !important;
}

.homeCard {
    /*backdrop-filter: blur(12px) saturate(200%);*/
    /*-webkit-backdrop-filter: blur(12px) saturate(200%);*/
    /*background-color: rgba(17, 25, 40, 0.59);*/
    /*border-radius: 12px;*/
    /*border: 1px solid rgba(255, 255, 255, 0.125);*/


    background: rgba(129, 129, 129, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8.4px);
    -webkit-backdrop-filter: blur(8.4px);
    border: 1px solid rgba(129, 129, 129, 0.91);
}

/* Arrow for small selectors */
.ant-select-sm .ant-select-arrow {
    inset-inline-end: 7px !important;
}

.ant-collapse-expand-icon {
    margin: auto !important;
    height: unset !important;
}

.dropdownButton .ant-btn-compact-first-item {
    width: 100% !important;
}

.ant-segmented .ant-segmented-item-label {
    transition: background-color 5s, background 5s;
}

.ant-color-picker-trigger {
    justify-content: flex-start !important;
}

.ant-divider {
    border-block-start-color: rgba(120, 120, 120, 0.3) !important;
}

.characterPreview .ant-typography {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
}

.select-20 {
    height: 22px !important;
}

.select-no-padding .ant-select-selector {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.select-no-padding .ant-select-arrow {
    padding-left: 0 !important;
    padding-right: 0 !important;
    inset-inline-end: 0 !important;
}

.select-no-padding .ant-select-arrow {
    font-size: 10px !important;
}

.characterPreview .ant-typography {
    color: rgb(255 255 255 / 90%);
}

.noneScoreLabel {
    max-width: 75px !important;
}

.ant-segmented-item-label {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.ant-segmented-item-label {
    user-select: none;
}

.warp-table-row .ant-table-cell {
    height: 45px !important;
    padding: 0 !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    font-size: 16px !important;
}

.warp-table-row-disabled {
    color: rgba(255, 255, 255, 0.10) !important;
}

.warp-table-row .ant-tag {
    font-size: 14px !important;
    letter-spacing: 1px !important;
}

.ant-radio-group {
    user-select: none !important;
}

.large-grid-column-header .ag-header-cell-text {
    font-size: 14px !important;
}

.visx-legend {
    justify-content: space-around;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px
}

.pre-font {
    font-family: "Consolas", "Courier New", "Menlo", "Monaco", monospace !important;
}

.stat-upgrade-table .ant-table-row:last-child .ant-table-cell {
    border-bottom: none !important;
}

.text-font {
    color: rgba(255, 255, 255, 0.85) !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
}

.tree-select-divider {
    height: 8px !important;
}

.recharts-legend-item {
    margin-right: 20px !important;
}
